
body {
  background-color: blue
}
#main {
  background-color: white;
}
#navi {
  background-color: white;
}
.jumbotron {
  background-image: radial-gradient(ellipse,green,black);
  color: white;
}
#entryForm {
  color: Black;
  font-size: 13;
}
